.message-container {
  width: 500px;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 20px auto;
  text-align: center;
}

.message-container-options {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
  margin:auto;
  align-items: center;
}

.message-container-options button {
  margin-bottom: 5px;
  width:200px;
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
  background-color: #131921;
  color: white;
  border: 1px solid lightgray;
  height: 35px;
  border-radius: 10px;
}

.message {
  color: red;
  font-size: 20px;
}
