.navbar {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 400px;

  padding: 10px;
}

.navbar-list-item {
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 700;
  color: gray;
  cursor: pointer;
}

.navbar-list-item:hover {
  color: black;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-box {
  height: 10px;
  margin: 0;
}

.navbar-search-icon {
  cursor: pointer;
  background-color: white;
  padding: 3px;
  margin: 0;
  border: 1px solid lightgray;
  border-left: none;
  border-radius: 5px;
}

.navbar-search-icon:active {
  margin-top: 2px;
}

.navbar-list-item-link {
  text-decoration: none;
}

.navbar-list-item-link:hover {
  text-decoration: none;
}

.navbar-search-options {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-search-option-title {
  margin-top: -12px;
}

.search-option {
  margin-right: 5px;
  margin-bottom: 2px;
}

.navbar-search-option-by-post {
  display: flex;
  align-items: center;
}

.navbar-search-option-by-user {
  display: flex;
  align-items: center;
}
